@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux additionnels */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #1C1C1C; /* Fond sombre par défaut */
  color: white;             /* Texte blanc */
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

@keyframes bg-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.bg-animated-gradient {
  background: linear-gradient(270deg, #ff4500, #1C1C1C, #000000);
  background-size: 600% 600%;
  animation: bg-move 20s ease infinite;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #000;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #555;
}
